---
import styles from './personal-info.module.scss'

interface Item {
  label: string
  text: string
}

interface Props {
  item: Item
}

const { item } = Astro.props
---

<li class={styles.item}>
  <span>{item.label}</span>
  <span>{item.text}</span>
</li>
