@use '../../styles/breakpoints' as bp;

.container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 33%;

  h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}

.socialMediaContainer {
  margin: 1rem 0 0;
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-light);
    border-radius: 100%;
    padding: 0.5rem;
    aspect-ratio: 1;
    fill: var(--color-text);
    color: var(--color-text) !important;
    transition: background-color 0.2s;
    font-size: 1.5rem;

    &:hover {
      background-color: var(--color-accent);
    }
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 32px;
  font-size: 2rem !important;

  > * {
    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }
    &:nth-child(3) {
      grid-area: 2 / 1 / 3 / 3;
    }
    &:nth-child(4) {
      grid-area: 3 / 1 / 4 / 3;
    }
  }
}

@media only screen and (max-width: bp.$sm) {
  .container {
    flex-direction: column;
  }

  .info {
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;

    > button {
      align-self: flex-end;
    }
  }
}
