---
import clsx from 'clsx'
import Button from '../components/ui/button'
import arrowIcon from '../icons/arrow-right-icon.svg'
import Layout from '../layouts/Layout.astro'
import styles from './index.module.scss'
---

<Layout>
  <main class={clsx(styles.main, 'contentAnimation')}>
    <section class={styles.imageContainer}></section>
    <section class={styles.info}>
      <h1>
        I'm Hector Tamayo.
        <span>Web Developer</span>
      </h1>

      <p>
        I'm a Web Developer from Latam focused on crafting clean & user‑friendly experiences, I am
        passionate about building excellent software that improves the lives of those around me.
      </p>

      <Button
        endIconSrc={arrowIcon.src}
        href='/about'
        style={{
          fontSize: '1rem',
        }}
      >
        More about me
      </Button>
    </section>
  </main>
</Layout>
