@use '../../styles/breakpoints' as bp;

$bp-sm: 700px;

.main {
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
  font-size: 3rem;
  gap: 3rem;
  flex-grow: 1;

  &::before {
    content: '';
    position: fixed;
    left: -83%;
    top: -50%;
    transform: rotate(-15deg);
    height: 200%;
    width: 100%;
    background-color: var(--color-accent);
    z-index: -1;
  }
}

.imageContainer {
  width: clamp(300px, 33%, 600px);
  border-radius: 100%;
  aspect-ratio: 1;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 7px;
  flex-shrink: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  max-width: 700px;
  margin: auto;

  h1 {
    display: flex;
    flex-direction: column;
    color: var(--color-accent);
    text-transform: uppercase;
    position: relative;
    padding-left: 70px;
    line-height: 1.2;
    font-weight: bold;

    &::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 29px;
      height: 4px;
      width: 40px;
      border-radius: 10px;
      background-color: var(--color-accent);
    }

    span {
      color: var(--color-text);
    }
  }

  p {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

@media only screen and (min-width: bp.$lg) {
  .main {
    gap: 4rem;
  }
}

@media only screen and (max-width: bp.$lg) {
  .info {
    h1 {
      font-size: 2.5rem;
      padding: 0;
      &::before {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: bp.$sm) {
  .main {
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    gap: 2rem;
    padding: 0;

    &::before {
      display: none;
    }
  }

  .imageContainer {
    height: auto;
    width: 270px;
    border-radius: 100%;
    aspect-ratio: 1;
  }

  .info {
    align-items: center;
    margin: 0;

    h1 {
      padding: 0;
      text-align: center;
      font-size: 2rem;

      &::before {
        display: none;
      }
    }

    p {
      font-size: 1rem;
      text-align: center;
    }
  }
}

@media only screen and (max-width: bp.$xs) {
  .imageContainer {
    width: 230px;
  }
}
