---
import Navbar from '../components/Navbar.astro'
import '../styles/animations.scss'
import '../styles/global.scss'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Hector Tamayo</title>
    <meta
      name='description'
      content={`I'm a Web Developer from Latam focused on crafting clean & user-friendly experiences, I'm
        passionate about building excellent software that improves the lives of those around me.`}
    />
    <!-- OPEN GRAPH TAGS -->
    <meta
      property='og:title'
      content='Hector Tamayo | Web Developer'
    />
    <meta
      property='og:url'
      content='https://hector-tamayo.netlify.app'
    />
    <meta
      property='og:image'
      content='https://hector-tamayo.netlify.app/favicon.svg'
    />
    <meta
      property='og:type'
      content='website'
    />
    <meta
      property='og:site_name'
      content='Hector Tamayo | Web Developer'
    />
  </head>

  <body>
    <div id='root'>
      <slot />
      <Navbar />
    </div>

    <div id='modal'></div>
  </body>
</html>
