---
import Navbar from '../components/Navbar.astro'
import '../styles/animations.scss'
import '../styles/global.scss'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Hector Tamayo</title>
  </head>

  <body>
    <div id='root'>
      <slot />
      <Navbar client:load />
    </div>

    <div id='modal'></div>
  </body>
</html>
