$borderRadius: 30px;
$iconContainerSize: 47px;

.button {
  position: relative;
  border-radius: $borderRadius;
  padding: 1rem;
  border: 1px solid var(--color-accent);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  background-color: transparent;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 1rem;
  overflow: hidden;

  &::before {
    pointer-events: none;
    position: absolute;
    content: '';
    inset: 0;
    background-color: var(--color-accent);
    transform: translateX(100%);
    border-radius: $borderRadius;
    transition:
      transform 0.3s ease-out,
      border-radius 0.3s ease-out;
    z-index: -1;
  }

  &:hover {
    &::before {
      transform: translateX(0);
      border-radius: 0;
    }
  }
}

.endIconButton {
  padding-right: calc(#{$iconContainerSize} + 1rem);

  > span {
    z-index: 2;
  }
}

$iconSize: 20px;

.iconContainer {
  position: absolute;
  inset: 0 0 0 auto;
  padding: 8px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  fill: var(--color-text);
  background-color: var(--color-accent);
  aspect-ratio: 1;

  svg {
    width: $iconSize;
    height: $iconSize;
  }
}
